@model IEnumerable<BalanceCheck.Models.Expense>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRepeated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.EndExpenseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRepeated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndExpenseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpenseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExpenseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpenseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
